.App {
  text-align: center;
  /* background-color: rgb(8, 30, 61); */
  /* background-image: url("./assets/cloudsBackground.gif");
  background-repeat: no-repeat; */
  /* background-color: transparent; */
}

.App-logo {
  
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* ========= NAVBAR STYLING ========== */

.App nav {
  background-color: rgb(8, 35, 61);
  top: 0px;
  left: 0px;
}

.App nav ul {
  margin: 0;
  padding: 0;
}

.App nav ul a {
  color: rgb(129, 199, 222);
  font-size: 1.66em;
  font-family: 'Righteous';
}

.App nav ul a {
  color: rgb(8, 30, 61);
  font-size: 1.5em;
  text-decoration: none;
  padding: 1.2em;
  text-align: justify;
  display: inline-block;
  
}

.App nav ul a:hover {
  font-style: italic;
  color:rgb(240, 227, 128);
}

.App nav ul img {
  height: 3.7em;
  float: left;
  background-color: rgb(8, 30, 61);
  display: inline-block;
  border: none;
  padding: .7em;
  /* width: 12.5%; */
}

/* ========= HOME PAGE ========== */

img#homeImg {
  width: 100%;
}

/* ========= SELECT SHOE PART ========== */

#designScreen {
  height: 800px;
  z-index: -5;
}

.shoePart {
  height: 90px;
  width: 90px;
  display: inline-block;
  font-family: 'Righteous';
  margin: 3px;
}

/* .shoePart:hover {
  background-color: rgb(240, 227, 128);
  border: solid 2px black;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  font-style: italic;
} */

#selectShoePart {
  float: left;
  width: 300px;
  margin-top: 100px;
  margin-left: 20px;
}

#selectShoePart div {
  border: solid 2px rgb(255, 255, 255);
  border-radius: 12px;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

#selectShoePart div:hover {
  background-color: rgb(240, 227, 128);
  border: solid 2px black;
  box-shadow: 7px 7px 7px rgb(0, 0, 0);
  font-style: italic;
}

div#container {
  height: 750px;
  width: 750px;
  position: absolute;
  left: 25%;
  top: 15%;
  /* border: solid 1px black; */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.product-svg {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 750px;
  max-height: 750px;
  z-index: 1;
  mix-blend-mode: multiply;
}

#shoe {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 750px;
  max-height: 750px;
  z-index: 0;
  height: auto;
  /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); */
}

.colorContainer {
  position: fixed;
  top: 15em;
  right: 2em;
  z-index: 3;
  display: inline-block;
  margin: 3px;
}

.color {
  height: 60px;
  width: 60px;
  margin-left: 0.5em;
  /* border-radius: 18px; */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  border: 2px solid rgb(157, 157, 157);
  cursor: pointer;
  z-index: 3;
}

.color:hover {
  border: 4px solid rgb(255, 255, 255);
}

#saveAsNfk {
  width: 200px;
  height: 50px;
  margin-top: 600px;
  position: absolute;
  left: 75px;
  font-size: 20px;
  font-family: 'Righteous';
  color:rgb(0, 0, 0);
  background-color:rgb(64, 169, 102);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  z-index: 4;
}

#saveAsNfk:hover {
  background-color:rgb(53, 140, 85);
  border: solid 2px black;
  box-shadow: 7px 7px 7px rgb(0, 0, 0);
  font-style: italic;
}

/* ========= COLOR PALLET ========== */

div.shoe-card {
  display: inline-block;
  width: 25%;
  height: 400px;
  margin: 2em;
  /* border: solid 2px rgb(255, 255, 255); */
}

div.shoe-card-img {
  position: relative;
}

div.shoe-card-img img {
  /* margin: 3em; */
  /* display: inline-block; */
  width: 75%;
  position: absolute;
  top: 0;
  left: 20%;
  z-index: 0;
  border: solid 2px rgb(255, 255, 255);

}

/* div.shoe-card-img div#container,
div.shoe-card-img div#container img {
  width: 200px;
  height: 200px;
} */

div.card-containers svg.product-svg {
  width: 75%;
}

div#tempimgcontainer {
  margin-top: 900px;
  top: 1000px;
  border: solid 1px black;
  height: 1000px;
}